.gameItems{
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,100px) repeat(2,50px);
    margin-bottom: 0;
    padding: 0;
}
canvas{
    grid-column: 1 / -1;
    grid-row: 1 / 5;
}
.buttons{
    /* margin-top: auto;
    margin-bottom: auto;
    height: 50%; */
}
#startButton{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
#resetButton{
    grid-column: 3 / 5;
    grid-row: 5 / 6;
}
#darkmodeButton{
    grid-column: 5 / 7;
    grid-row: 5 / 6;
}
#easyButton{
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}
#mediumButton{
    grid-column: 3 / 5;
    grid-row: 6 / 7;
}
#hardButton{
    grid-column: 5 / 7;
    grid-row: 6 / 7;
}